{% extends "base.html" %} {% block content %}
<h3>Insults</h3>

<p>
	These are a list of insults that the app will yell at you when an action
	calls for it. Note: the TTS engine may butcher the pronunciation sometimes.
</p>

<h4>Click to remove:</h4>

<ol class="list-group">
	{% for item in insults %}
	<a
		class="list-group-item list-group-item-danger list-group-item-action d-flex justify-content-between align-items-start"
		href="/insults/remove/{{ insults.index(item) }}"
	>
		<div class="ms-2 me-auto">
			<div class="fw-bold">{{ item }}</div>
		</div>
	</a>
	{% endfor %} {% if insults|length == 0 %}
	<h4 class="text-center">No insults.</h4>
	{% endif %}
</ol>

<br />

<h4>Add a new item:</h4>
<div class="input-group mb-3">
	<input
		type="text"
		class="form-control"
		placeholder="You suck!"
		aria-label="Wlacklist"
		aria-describedby="button-add"
	/>
	<button
		class="btn btn-outline-success"
		type="button"
		id="button-add"
		onclick="window.location.href='/insults/add?item=' + encodeURIComponent(document.querySelector('input').value)"
	>
		Add
	</button>
</div>

{% endblock %}
